
.wppp-right {

	float: right;
}

.wppp-submit {
	margin-right: 10px;
}

.wppp-ajax-status {

	display: block;
	width: 23px;
	height: 23px;
	float: right;
}

.wppp-ajax-status.wppp-ajax-loading {

	background: url( 'images/ajax.gif' ) no-repeat top left;
	background-size: 100%;
}

.wppp-single-wrap textarea {

	width: 100%;
}

.wppp-single-wrap input[type="text"] {

	width: 100%;
	height: 40px;
	font-size: 20px;
}

.wppp-icon-delete {

	width: 25px;
	height: 25px;
	margin-left: -5px;
	background-image: url( 'images/delete.png' );
	background-size: 100%;
}

.wppp-icon-add {

	width: 25px;
	height: 25px;
	margin-left: -5px;
	background-image: url( 'images/add.png' );
	background-size: 100%;
}

.wppp-shortcode-insert-form th {
	padding-right: 20px;
}